<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "board/css/board.css" %}">
</head>
<body>

<section id="board">
{% for row in board %}
<div class="board-row" data-row="{{row.number}}">

    {% for tile in row.tiles %}
    <div class="hex {{tile.terrain.name}}"
        data-position="{{tile.position}}"
        data-row="{{tile.row}}"
        data-col="{{tile.col}}"
        data-number="{{tile.number}}"
    >
    <div class="top">
        <span class="corner tl"></span>
        <span class="corner tt"></span>
        <span class="corner tr"></span>
        <span class="side tl"></span>
        <span class="side tr"></span>
        <span class="left"></span>
        <span class="rig"></span>
    </div>
    <div class="mid">
        <span class="side ml"></span>
        <span class="side mr"></span>
        <span class="left"></span>
        <span class="mid">
            {% if tile.number %}
            <span class="number">{{tile.number}}</span> 
            {% endif %}
        </span>
        <span class="rig"></span>
    </div>
    <div class="bot">
        <span class="left"></span>
        <span class="rig"></span>
        <span class="corner bl"></span>
        <span class="corner bb"></span>
        <span class="corner br"></span>
        <span class="side bl"></span>
        <span class="side br"></span>
    </div>
    </div>

    {% endfor %}

</div>
{% endfor %}
</section>
    
</body>
</html>